In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("TripAdvisorRev.csv",encoding = "ISO-8859-1")
df.columns={'Rating','Reviews'}

In [3]:
df.shape

(427, 2)

In [4]:
df.head

<bound method NDFrame.head of      Rating                                            Reviews
0         3  This place is an interesting mix of really coo...
1         5  Yes, we know the rooms are outdated and funky ...
2         5  We went to the Grand Canyon from Phoenix, so v...
3         4  This is my second stay at Monte Vista, it was ...
4         4  I am not sure why folks post such negative rev...
..      ...                                                ...
422       1  We spent one of the most horrible nights of ou...
423       1  We spent the first night and the worst night o...
424       3  The staff was a little rude on the phone, but ...
425       2  This hotel has a lot of character and an inter...
426       1  the only thing historic about this hotel is th...

[427 rows x 2 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 2 columns):
Rating     427 non-null int64
Reviews    427 non-null object
dtypes: int64(1), object(1)
memory usage: 6.8+ KB

In [12]:
df.describe()

           Rating
count  427.000000
mean     3.259953
std      1.342817
min      1.000000
25%      2.000000
50%      4.000000
75%      4.000000
max      5.000000

In [35]:
pattern = '[^Great]'

In [36]:
res =  re.compile(pattern)

In [40]:
df.Reviews.apply(lambda x: res.findall(x)).head()

0    [T, h, i, s,  , p, l, c,  , i, s,  , n,  , i, ...
1    [Y, s, ,,  , w,  , k, n, o, w,  , h,  , o, o, ...
2    [W,  , w, n,  , o,  , h,  , n, d,  , C, n, y, ...
3    [T, h, i, s,  , i, s,  , m, y,  , s, c, o, n, ...
4    [I,  , m,  , n, o,  , s, u,  , w, h, y,  , f, ...
Name: Reviews, dtype: object

In [43]:
pattern = '[^Awais]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head()

0    [T, h,  , p, l, c, e,  ,  , n,  , n, t, e, r, ...
1    [Y, e, ,,  , e,  , k, n, o,  , t, h, e,  , r, ...
2    [W, e,  , e, n, t,  , t, o,  , t, h, e,  , G, ...
3    [T, h,  ,  , m, y,  , e, c, o, n, d,  , t, y, ...
4    [I,  , m,  , n, o, t,  , u, r, e,  , h, y,  , ...
Name: Reviews, dtype: object

In [44]:
pattern = '[^The end$]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head()

0    [i, s, p, l, a, c, i, s, a, i, t, r, s, t, i, ...
1    [Y, s, ,, w, k, o, w, t, r, o, o, m, s, a, r, ...
2    [W, w, t, t, o, t, G, r, a, C, a, y, o, f, r, ...
3    [i, s, i, s, m, y, s, c, o, s, t, a, y, a, t, ...
4    [I, a, m, o, t, s, u, r, w, y, f, o, l, k, s, ...
Name: Reviews, dtype: object

In [45]:
pattern = '[0-9]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head()

0    []
1    []
2    []
3    []
4    []
Name: Reviews, dtype: object

In [46]:
pattern = '[My]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head()

0                      [y, M]
1          [y, y, y, y, y, M]
2    [y, y, y, y, y, M, y, M]
3       [y, y, M, y, y, y, M]
4    [y, y, y, M, y, y, M, M]
Name: Reviews, dtype: object

In [48]:
pattern = '[^T]'
res =  re.compile(pattern)
df.Reviews.apply(lambda x: res.findall(x)).head(50)

0     [h, i, s,  , p, l, a, c, e,  , i, s,  , a, n, ...
1     [Y, e, s, ,,  , w, e,  , k, n, o, w,  , t, h, ...
2     [W, e,  , w, e, n, t,  , t, o,  , t, h, e,  , ...
3     [h, i, s,  , i, s,  , m, y,  , s, e, c, o, n, ...
4     [I,  , a, m,  , n, o, t,  , s, u, r, e,  , w, ...
5     [h, i, s,  , i, s,  , a,  , g, o, o, d,  , h, ...
6     [G, r, e, a, t,  , p, l, a, c, e,  , t, o,  , ...
7     [M, y,  , h, u, s, b, a, n, d,  , a, n, d,  , ...
8     [I, f,  , y, o, u,  , l, i, k, e,  , s, t, a, ...
9     [E, l, e, g, a, n, t,  , a, n, d,  , a, r, t, ...
10    [k, n, e, w,  , t, h, i, s,  , c, o, u, l, d, ...
11    [P, l, e, a, s, a, n, t, l, y,  , s, u, r, p, ...
12    [G, r, e, a, t,  , l, o, c, a, t, i, o, n,  , ...
13    [G, o, o, d, :,  , L, o, c, a, t, e, d,  , p, ...
14    [M, y,  , s, i, s, t, e, r,  , a, n, d,  , I, ...
15    [I,  , h, a, v, e,  , a, l, w, a, y, s,  , w, ...
16    [N, o, t, h, i, n, g,  , l, i, k, e,  , s, t, ...
17    [I, f,  , y, o, u,  , a, r, e,  , a,  , f, a, ...
18    [h, i, s,  , p, l, a, c, e,  , i, s,  , a, l, ...
19    [F, l, a, g, s, t, a, f, f,  , i, s,  , f, u, ...
20    [I,  , w, a, s,  , s, h, o, c, k, e, d,  , w, ...
21    [W, e,  , s, t, o, p, p, e, d,  , i, n,  , t, ...
22    [h, e,  , b, e, s, t,  , I,  , c, a, n,  , s, ...
23    [h, e,  , M, o, n, t, e,  , V, i, s, t, a,  , ...
24    [W, o, u, l, d,  , l, i, k, e, d,  , t, o,  , ...
25    [H, e, a, d, i, n, g,  , f, o, r,  , P, h, o, ...
26    [W, e,  , a, r, r, i, v, e, d,  , b, y,  , r, ...
27    [N, o, t,  , a,  , f, a, n, .,  , O, u, r,  , ...
28    [V, e, r, y,  , r, e, a, s, o, n, a, b, l, e, ...
29    [h, e,  , H, o, t, e, l,  , M, o, n, t, e,  , ...
30    [h, i, s,  , o, l, d,  , h, i, s, t, o, r, i, ...
31    [G, r, e, a, t,  , p, l, a, c, e, .,  , C, o, ...
32    [N, i, c, e,  , t, o,  , s, e, e,  , t, h, a, ...
33    [h, i, s,  , h, i, s, t, o, r, i, c,  , r, e, ...
34    [W, e,  , h, a, d,  , f, r, i, e, n, d, s,  , ...
35    [V, e, r, y,  , c, l, o, s, e,  , t, o,  , t, ...
36    [C, l, a, s, s, i, c,  , e, a, r, l, y,  , 2, ...
37    [W, e,  , s, t, a, y, e, d,  , h, e, r, e,  , ...
38    [M, y,  , w, i, f, e,  , a, n, d,  , I,  , w, ...
39    [m, y,  , g, i, r, l, f, r, i, e, n, d,  , a, ...
40    [O, v, e, r,  , p, r, i, c, e, d, .,  , V, e, ...
41    [O, l, d,  , H, o, t, e, l,  , i, n,  , t, h, ...
42    [I,  , a, l, w, a, y, s,  , l, i, k, e,  , t, ...
43    [M, y,  , b, o, y, f, r, i, e, n, d,  , a, n, ...
44    [h, i, s,  , h, o, t, e, l,  , m, o, r, e,  , ...
45    [W, e,  , s, t, a, y, e, d,  , i, n,  , t, h, ...
46    [G, r, e, a, t,  , h, i, s, t, o, r, i, c, a, ...
47    [W, h, a, t,  , a,  , w, o, n, d, e, r, f, u, ...
48    [G, r, e, a, t,  , h, o, t, e, l,  , i, f,  , ...
49    [I,  , s, t, a, y, e, d,  , a, t,  , t, h, e, ...
Name: Reviews, dtype: object

In [52]:
regex = re.compile('\s+')
text = """101 COM    Computers
205 MAT   Mathematics
189 ENG   English""" 
#re.split('\s+', text)
# or 
regex.split(text)

['101',
 'COM',
 'Computers',
 '205',
 'MAT',
 'Mathematics',
 '189',
 'ENG',
 'English']

In [53]:
# find all numbers within the text
regex_num = re.compile('\d+')
regex_num.findall(text)

['101', '205', '189']

In [54]:
# get rid of all extra spaces except newline
regex = re.compile('((?!\n)\s+)')
print(regex.sub(' ', text))

101 COM Computers
205 MAT Mathematics
189 ENG English

In [63]:
#1.
text = """101. COM.    Computers.
205 MAT   Mathematics.
189 ENG   English.""" 
print(re.findall(' ', text))  # Space  ?
print(re.findall('.', text))  # .   Any character except for a new line
#print(re.findall('...', text))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
['1', '0', '1', '.', ' ', 'C', 'O', 'M', '.', ' ', ' ', ' ', ' ', 'C', 'o', 'm', 'p', 'u', 't', 'e', 'r', 's', '.', '2', '0', '5', ' ', 'M', 'A', 'T', ' ', ' ', ' ', 'M', 'a', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 's', '.', '1', '8', '9', ' ', 'E', 'N', 'G', ' ', ' ', ' ', 'E', 'n', 'g', 'l', 'i', 's', 'h', '.']
['.', '.', '.', '.', '.']
['1', '0', '1', ' ', 'C', 'O', 'M', ' ', ' ', ' ', ' ', 'C', 'o', 'm', 'p', 'u', 't', 'e', 'r', 's', '\n', '2', '0', '5', ' ', 'M', 'A', 'T', ' ', ' ', ' ', 'M', 'a', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 's', '\n', '1', '8', '9', ' ', 'E', 'N', 'G', ' ', ' ', ' ', 'E', 'n', 'g', 'l', 'i', 's', 'h']

In [64]:
#2.
print(re.findall('\.', text))  # matches a period
print(re.findall('[^\.]', text))  # matches anything but a period

['.', '.', '.', '.', '.']
['1', '0', '1', ' ', 'C', 'O', 'M', ' ', ' ', ' ', ' ', 'C', 'o', 'm', 'p', 'u', 't', 'e', 'r', 's', '\n', '2', '0', '5', ' ', 'M', 'A', 'T', ' ', ' ', ' ', 'M', 'a', 't', 'h', 'e', 'm', 'a', 't', 'i', 'c', 's', '\n', '1', '8', '9', ' ', 'E', 'N', 'G', ' ', ' ', ' ', 'E', 'n', 'g', 'l', 'i', 's', 'h']